@{
    ViewData["Title"] = "Home Page";
}
@* 
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
<div class="page">
	<!-- PAGE-CONTENT OPEN -->
	<div class="page-content error-page">
		<div class="container text-center">
			<div class="page-content error-page">
				<div class="container text-center">
					<div class="display-1  mb-5">Welcome</div>
					<a href="https://docs.microsoft.com/aspnet/core"><p class="h5 font-weight-normal mb-6 leading-normal">building Web apps with ASP.NET Core</p></a>
				
				</div>
			</div>
		</div>
	</div>
	<!-- PAGE-CONTENT OPEN CLOSED -->
</div>
